body {
    background-color: #eeeeee;
    font: 12px sans-serif;
}

input:required:valid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=');
    background-position: right top;
    background-repeat: no-repeat;
}

input:invalid {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC');
    background-position: right top;
    background-repeat: no-repeat;
}

div.container {
    width: 800px;
    margin: auto;
    border: 1px outset;
    padding: 1em;
    background-color: #ffffff;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

img {
    margin: 0 .5em;
    border: 0;
}

em {
    font-style: normal;
    font-weight: bold;
}

header {
    padding: .5em;
    border: 1px outset;
    background-color: #cccccc;
}

header a {
    padding: .2em .5em;
    background-color: #eeeeee;
}

header a:hover {
    background-color: #aaaaaa;
}

section.info {
    margin: 1em;
    border: 1px outset;
    padding: .5em .5em;
    background-color: #ffffff;
    text-align: left;
}

nav.list {
    float: left;
    width: 40%;
}

nav.list a {
    display: block;
    background-color: #cccccc;
    margin: .3em 3em;
}

nav.list a:hover {
    background-color: #aaaaaa;
}

nav.list p.toolbar a {
    display: inline;
    margin: 0;
    padding: 0;
    background-color: inherit;
}

nav.list p.toolbar a img {
    margin: 0;
    padding: 0;

}

article.record {
    float: left;
    width: 60%;
}

article.record fieldset
{
    margin-bottom: 1em;
    border: #cccccc 1px solid;
}

article.record fieldset legend
{
    border-left: #cccccc 1px solid;
    border-right: #cccccc 1px solid;
    padding: 0 .8em;
}

article.record p
{
    margin: .4em 0;
    text-align: left;
}

article.record label
{
    width: 30%;
    float: left;
    margin-right: 1em;
    padding-top: .2em;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

article.record fieldset input
{
    width: 60%;
    margin-top: .1em;
    border: #cccccc 1px solid;
}

article.record fieldset img
{
    margin: 0;
    vertical-align: -.2em;
}

article.record p.toolbar
{
    text-align: center;
}

footer {
    clear: both;
    margin: .2em;
    font-size: .8em;
}
