<?xml version="1.0" encoding="%charset%"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%contentLanguage%" lang="%contentLanguage%">
<head>
 <meta charset="%charset%" />
 <title>%title%</title>
 <link rel="stylesheet" type="text/css" media="screen" href="%cssFilename%" />
</head>
<body>
<div class="container">

<header>
<h2>%title%</h2>
%subtitle%
</header>

<section class="info">
%content%
</section><!-- end info -->

<footer>
%footer%
</footer>

</div><!-- end container -->
</body>
</html>
